<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>



    

    <div class="container pt-5 hero">
      <div class="row align-items-center text-center text-md-left">
        
        <div class="col-lg-4">
          <h1 class="mb-3 display-3">Recursive Functions</h1>
          
        </div>
        <div class="col-lg-8">
          <div class="">
          {% block fibonachi %}
          
              <form  method="post" class="bg-white" action={% url 'fibonachi' %}>{% csrf_token %}
                <div class="form-group row">
                  <div class="col-lg-12">
                
                
                  <h2> Fibonacci(n)</h2>
                    {{f1.x.label_tag}}
                    {{f1.x}}<br/><br/>
                    {{f1.x.errors|first|lower}}
                
                  </div>
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="calculate">
              </form>
          {% endblock fibonachi %}

          {% block ackerman %}
          
              <form  method="post" class="bg-white" action={% url 'ackerman' %}>{% csrf_token %}
                <div class="form-group row">
                  <div class="col-md-12">
                  <h2> Ackermann(n,m)</h2>
                    {{f2.n.label_tag}}
                    {{f2.n}}<br/><br/>
            
                  
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    {{f2.m.label_tag}}
                    {{f2.m}}<br/>
                    {{f2.non_field_errors}}
                  </div>
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="calculate">

              </form>
          {% endblock ackerman %}
          {% block factoriel %}
          
              <form  method="post" class="bg-white" action={% url 'factorial' %}>{% csrf_token %}
                <h2 > Factorial(n)</h2>
                <div class="form-group row">
                  <div class="col-md-12">
                    {{f3.z.label_tag}}
                    {{f3.z}}<br/>
                    {{f3.z.errors|first|lower}}<br/>
                  </div>
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="calculate">
              </form>
          {% endblock factoriel %}
                
                
        </div>
      </div>
    </div>
    





</body>
</html>